// @import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600&display=swap');

@font-face {
	font-family: 'Fira Code';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/Fira-code-v21-latin-regular.woff2') format('woff2');
}

/* Fira-code-500 - latin */
@font-face {
	font-family: 'Fira Code';
	font-style: normal;
	font-weight: 500;
	src: url('/fonts/Fira-code-v21-latin-500.woff2') format('woff2');
}

/* Fira-code-600 - latin */
@font-face {
	font-family: 'Fira Code';
	font-style: normal;
	font-weight: 600;
	src: url('/fonts/Fira-code-v21-latin-600.woff2') format('woff2');
}

@font-face {
	font-family: 'Heroes Legend';
	src: url('/fonts/Heroes Legend.ttf') format('truetype');
}

@font-face {
	font-family: 'Heroes Legend Hollow';
	src: url('/fonts/Heroes Legend Hollow.ttf') format('truetype');
}

@font-face {
	font-family: 'BADABB';
	src: url('/fonts/BADABB.ttf') format('truetype');
}

@font-face {
	font-family: 'Comix Loud';
	src: url('/fonts/Comix-Loud.ttf') format('truetype');
}

@font-face {
	font-family: 'The ASM';
	src: url('/fonts/tasm.ttf') format('truetype');
}

@font-face {
	font-family: 'AVENGEANCE MIGHTIEST AVENGER';
	src: url('/fonts/AVENGEANCE-MIGHTIEST-AVENGER.ttf') format('truetype');
}

@font-face {
	font-family: 'Cartoon Movie';
	src: url('/fonts/Cartoon-Movie.otf') format('opentype');
}

@font-face {
	font-family: 'Baby Monsta';
	src: url('/fonts/Baby-Monsta.otf') format('opentype');
}

@font-face {
	font-family: 'Comic Sans';
	src: url('/fonts/Comic-Sans.ttf') format('truetype');
}

@font-face {
	font-family: 'Arista Pro Bold';
	src: url('/fonts/Arista-Pro-Bold.ttf') format('truetype');
	font-weight: bold;
}

@font-face {
	font-family: 'Arista Pro Light';
	src: url('/fonts/Arista-Pro-Light.ttf') format('truetype');
	font-weight: lighter;
}

@font-face {
	font-family: 'Ethnocentric Rg';
	src: url('/fonts/Ethnocentric-Rg.ttf') format('truetype');
}
