@font-face {
	font-family: 'Heroes Legend';
	src: url('/fonts/Heroes Legend.ttf') format('truetype');
}

@font-face {
	font-family: 'Heroes Legend Hollow';
	src: url('/fonts/Heroes Legend Hollow.ttf') format('truetype');
}
