:root {
	--root-font-size: 13px;
	--font-hero-legend: 'Heroes Legend';
	--font-hero-legend-hollow: 'Heroes Legend Hollow';
	--font-badabb: 'BADABB';
	--font-comix-loud: 'Comix Loud';
	--font-tasm: 'The ASM';
	--font-ama: 'AVENGEANCE MIGHTIEST AVENGER';
	--font-cartoon-movie: 'Cartoon Movie';
	--font-baby-monsta: 'Baby Monsta';
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	-webkit-print-color-adjust: exact !important; /* Chrome, Safari, Edge */
	color-adjust: exact !important;
}

html {
	word-spacing: 0.25em;
	font-size: var(--root-font-size);
	// font-family: var(--font-hero-legend);
	font-family: var(--font-baby-monsta);
}

body {
	font-size: 1.6rem;
}

img {
	width: 100%;
	height: 100%;
	position: relative;
}

a {
	&[href^='mailto']::before {
		content: '📧 ';
	}

	&[href^='tel']::before {
		content: '📞 ';
	}
}

main {
	background: center no-repeat url('/hulk39.jpg');
	// background-size: 210mm 291mm;
}

ul {
	list-style-position: inside;
}

h1 {
	margin: 0.4rem;
	font-size: 2.5rem;
}

h2 {
	padding: 0.2rem 0;
	font-size: 2.3rem;
	text-align: center;
}

h3 {
	font-size: 2rem;
	width: 100%;
}

.resume {
	overflow: hidden;
	border-radius: 3rem;
	backdrop-filter: blur(8px);
	background-color: rgba(255, 255, 255, 0.5);
	display: grid;
	margin-bottom: 1em;
	box-shadow: 0 0.4em 0.8em 0 rgba(0, 0, 0, 0.35);

	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 3fr;
	grid-template-areas:
		'profile education'
		'about education'
		'work education'
		'community skills';
}

.grid-area {
	position: relative;
}

.wrapper {
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.grid-area {
	z-index: 0;
	&:not(:last-child) {
		padding: 0.15em 0.3em;
	}
	// border: 1px black solid;
}

#profile {
	grid-area: profile;

	display: flex;
	flex-direction: column;
	align-items: center;
}

#about {
	grid-area: about;
}

#work {
	grid-area: work;
}

#skills {
	grid-area: skills;
	position: relative;

	> div {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 0.3em;
		margin-bottom: 0.3em;
	}
}

#education {
	grid-area: education;
}

#education,
#work {
	&-type {
		padding-left: 0.5rem;
	}

	&-info {
		font-size: 1rem;
	}

	.timeframe {
		width: 25%;
		margin-right: 0.4em;
	}

	table {
		width: 100%;
		border-spacing: 1.5em 0.5em;
		table-layout: auto;
		border-collapse: collapse;
	}

	td {
		vertical-align: baseline;
		// white-space: nowrap;
	}
}

#community {
	grid-area: community;
}

#profile,
#skills {
	backdrop-filter: blur(1px);
}

.circle {
	background-color: white;
	overflow: hidden;
	border-radius: 50%;
}

.photo {
	width: 12rem;
	display: flex;
}

.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

#stackoverflow,
#github-icon,
#linkedin {
	transform: translateY(0.4em);
	margin: 0 0.4rem;
	width: 1.7em;
}

#holy-trinity {
	line-height: 1.6;

	span {
		font-size: 2rem;
	}

	> div {
		width: 50%;
	}
}

#rust,
#svelte {
	line-height: 1;

	span {
		font-size: 3em;
	}

	&::after {
		content: '\1F60D';
		font-size: 3rem;
	}
}

.tag {
	$border: 0.3em;
	--tag-border: #{$border};
	--tag-border-radius: 1.8rem;
	--tag-before-margin: calc(var(--tag-border, 0.3rem) * -1);

	position: relative;
	display: flex;
	text-align: center;
	align-items: center;
	flex-wrap: nowrap;

	padding: 0.35em;
	// margin: 0.2em;
	margin: auto;

	background-clip: padding-box;
	background-color: var(--leftside-bg-color, whitesmoke);
	border-radius: var(--tag-border-radius);
	color: var(--tag-color, black);
	border: var(--tag-border) solid transparent;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
		border-radius: inherit;
		margin: var(--tag-before-margin);
		background: var(--tag-border-color, black);
	}

	img {
		width: var(--tag-img-size, 3rem);
		height: var(--tag-img-size, 3rem);
		// border-radius: 35%;
		// margin: 0 0.3em;
		// background-color: white;
		// padding: 0.1em;
	}
}
