.screen-hidden {
	display: none !important;
}

header {
	color: rgb(7, 38, 139);
	display: block;
	text-align: center;
	word-wrap: break-word;
	font-size: 2.5em;
}

h3 {
	margin-block-end: 0.4em;
}

summary {
	h3 {
		display: inline;
	}
}

// details[open] summary ~ * {
// 	animation: sweep 0.5s ease-in-out;
// }

// @keyframes sweep {
// 	0% {
// 		opacity: 0;
// 		margin-left: -10px;
// 	}
// 	100% {
// 		opacity: 1;
// 		margin-left: 0px;
// 	}
// }

.resume {
	margin: 0.5em 2em;
	max-width: 60rem;
	display: block;
	text-align: center;
	border-radius: 3rem;
	overflow: hidden;
	box-shadow: 0 0.4em 0.8em 0 rgba(0, 0, 0, 0.35);

	.page {
		padding: 0.5em;

		section:last-child {
			margin-block-end: 2.5rem;
		}
	}

	// &:first-child {
	// 	border-radius: 3rem 3rem 0 0;
	// }

	// &:last-child {
	// 	margin-bottom: 1em;
	// 	border-radius: 0 0 3rem 3rem;
	// }
}

.grid-area {
	margin-top: 0.6em;
}

.project-item {
	margin-block-end: 0.4em;

	h3 {
		margin-block-end: 0.1em;
	}
}

@media (max-width: 949px) {
	tbody,
	tr {
		margin: 0.4em 0.15em;
		display: flex;
		flex-direction: column;
	}

	li {
		text-align: left;
		list-style-position: inside;
	}

	.education-type {
		width: 100%;
		text-align: center;
	}

	.timeframe {
		display: block;
		text-align: center;
		width: 100%;
	}

	#holy-trinity div {
		display: flex;
		line-height: 1.1;
		margin-inline-start: 0.3em;
	}
}

@media (min-width: 950px) {
	.resume .page {
		text-align: initial;
		display: grid;
		padding: 0;
		grid-template-columns: 2fr 20rem;
		// grid-template-rows: repeat(5, auto);
		grid-template-areas:
			'info profile'
			'education profile'
			// 'about skills'
			// 'about skills'
			'education skills'
			'work skills'
			'projects skills';
	}

	#profile,
	#skills {
		background-color: var(--leftside-bg-color);
	}

	.timeframe {
		// width: 20%;
	}

	.tag {
		padding: 0.3em;
		margin: auto;
	}

	.grid-area {
		margin: 0;
	}
}
