@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600&display=swap");
@font-face {
  font-family: "Heroes Legend";
  src: url("/fonts/Heroes Legend.ttf") format("truetype");
}
@font-face {
  font-family: "Heroes Legend Hollow";
  src: url("/fonts/Heroes Legend Hollow.ttf") format("truetype");
}
@font-face {
  font-family: "BADABB";
  src: url("/fonts/BADABB.ttf") format("truetype");
}
@font-face {
  font-family: "Comix Loud";
  src: url("/fonts/Comix-Loud.ttf") format("truetype");
}
@font-face {
  font-family: "The ASM";
  src: url("/fonts/tasm.ttf") format("truetype");
}
@font-face {
  font-family: "AVENGEANCE MIGHTIEST AVENGER";
  src: url("/fonts/AVENGEANCE-MIGHTIEST-AVENGER.ttf") format("truetype");
}
@font-face {
  font-family: "Cartoon Movie";
  src: url("/fonts/Cartoon-Movie.otf") format("opentype");
}
@font-face {
  font-family: "Baby Monsta";
  src: url("/fonts/Baby-Monsta.otf") format("opentype");
}
@font-face {
  font-family: "Comic Sans";
  src: url("/fonts/Comic-Sans.ttf") format("truetype");
}
@font-face {
  font-family: "Arista Pro Bold";
  src: url("/fonts/Arista-Pro-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Arista Pro Light";
  src: url("/fonts/Arista-Pro-Light.ttf") format("truetype");
  font-weight: lighter;
}
@font-face {
  font-family: "Ethnocentric Rg";
  src: url("/fonts/Ethnocentric-Rg.ttf") format("truetype");
}
:root {
  --root-font-size: 13px;
  /*FONTS*/
  --font-hero-legend: "Heroes Legend";
  --font-hero-legend-hollow: "Heroes Legend Hollow";
  --font-badabb: "BADABB";
  --font-comix-loud: "Comix Loud";
  --font-tasm: "The ASM";
  --font-ama: "AVENGEANCE MIGHTIEST AVENGER";
  --font-cartoon-movie: "Cartoon Movie";
  --font-baby-monsta: "Baby Monsta";
  --font-fira-code: "Fira Code"
  --font-arista-pro-bold: "Arista Pro Bold";
  --font-arista-pro-light: "Arista Pro Light";
  --font-ethnocentric-rg: "Ethnocentric Rg";
  --leftside-bg-color: whitesmoke;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-print-color-adjust: exact !important;
  /* Chrome, Safari, Edge */
  color-adjust: exact !important;
}

html {
  font-size: var(--root-font-size);
  /*
  // font-family: var(--font-hero-legend);
  // font-family: var(--font-baby-monsta);
  */
  font-family: var(--font-fira-code);
}

body {
  font-size: 1.5rem;
  /*font-size: 1.47rem;*/
  line-height: 1.1;
  font-weight: 600;
  position: relative;
  background: url("/images/hulk39.jpg") no-repeat center center fixed;
}

h1 {
  font-family: var(--font-ethnocentric-rg);
  margin: 0.4rem 0.4rem 0 0.4rem;
  font-size: 2.1rem;
}

h2 {
  font-family: var(--font-ethnocentric-rg);
  padding: 0.1em 0;
  font-size: 2rem;
  text-align: center;
}

h3 {
  font-family: var(--font-ethnocentric-rg);
  /* font-size: 1.7rem;*/
  font-size: 1.03rem;
  margin: 0.1em 0;
  width: 100%;
  word-wrap: break-word;
}

address {
  font-style: normal;
}

img {
  width: 100%;
  height: 100%;
  position: relative;
}

a {
  position: relative;
  text-decoration: none;
}

a:not(#skills a) {
  font-style: inherit;
}
a:not(#skills a):hover {
  text-decoration: underline;
  cursor: pointer;
}
a:not(#skills a)[href^=mailto]::before {
  content: url("/svg/envelope.svg");
  width: 1.5em;
  height: 1.5em;
  transform: translateY(0.4em);
  display: inline-block;
}
a:not(#skills a)[href^=tel]::before {
  content: "📞 ";
}

header {
  display: block;
  text-align: center;
  font-size: 3em;
  word-wrap: break-word;
  color: #07268b;
}

ul {
  list-style-position: outside;
}

label {
  width: 100%;
  text-align: center;
  position: relative;
}

meter,
progress {
  --border-radius: 2em;
  --value: "100%";
  background: transparent;
  width: 100%;
  position: relative;
  border: none;
  border-radius: var(--border-radius);
}

#soft-skills {
  position: relative;
  text-align: center;
}
#soft-skills div {
  position: relative;
}
#soft-skills span {
  top: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  z-index: 3;
  width: 100%;
  font-weight: bold;
  color: var(--leftside-bg-color);
  font-family: var(--font-ethnocentric-rg);
}
#soft-skills span::before {
  font-weight: inherit;
  line-height: 1.1;
  /* font-family: initial;*/
  content: var(--skill-value) "%";
}

meter {
  -webkit-appearance: none;
  appearance: none;
  z-index: 1;
  background: #efefef;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
meter::-moz-meter-bar {
  background: none;
  background-color: green;
  border-radius: var(--border-radius);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
meter::-moz-meter-optimum {
  background-color: green;
  border-radius: var(--border-radius) !important;
}
meter::-webkit-meter-bar {
  background: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  border-radius: var(--border-radius) !important;
}
meter::-webkit-meter-optimum-value {
  background: none;
  background-color: green;
  border-radius: var(--border-radius);
}
meter::-webkit-meter-inner-element {
  -webkit-appearance: inherit;
  box-sizing: inherit;
  border-radius: var(--border-radius);
  display: inline;
}

.resume {
  overflow: hidden;
  border-radius: 3rem;
  margin-bottom: 1em;
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 0 0.4em 0.8em 0 rgba(0, 0, 0, 0.35);
}

.wrapper {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.grid-area {
  position: relative;
  z-index: 0;
  padding: 0em 0.5em;
}

#profile {
  grid-area: profile;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#info {
  grid-area: info;
}

#about {
  grid-area: about;
}

#work {
  grid-area: work;
}

#skills {
  grid-area: skills;
  position: relative;
}
#skills > div {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.2em;
  margin-bottom: 0.2em;
}

#education {
  grid-area: education;
}

.timeframe {
  width: 25%;
  margin-right: 0.4em;
}

#education-type,
#work-type {
  padding-left: 0.5rem;
}
#education-info,
#work-info {
  font-size: 1rem;
}
#education table,
#work table {
  width: 100%;
  border-spacing: 1.5em 0.5em;
  table-layout: auto;
  border-collapse: collapse;
}
#education td,
#work td {
  vertical-align: baseline;
}

#community {
  grid-area: community;
}

#stackoverflow,
#github-icon,
#linkedin,
#twitter {
  transform: translateY(0.4em);
  /* margin: 0 0.4em; */
  width: 1.6em;
}

#holy-trinity {
  line-height: 1;
}
#holy-trinity span {
  font-family: var(--font-ethnocentric-rg);
  font-size: 1.4rem;
}
#holy-trinity > div {
  width: 50%;
}

.circle {
  background-color: white;
  overflow: hidden;
  border-radius: 50%;
}

.photo {
  width: 7.1em;
  display: flex;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.fascinated {
  line-height: 1;
}
.fascinated span {
  font-size: 3em;
}
.fascinated::after {
  content: "😍";
  font-weight: initial;
  font-size: 3rem;
}

.tag {
  --tag-border: 0.3em;
  --tag-border-radius: 1.8rem;
  --tag-before-margin: calc(var(--tag-border, 0.3rem) * -1);
  position: relative;
  display: flex;
  text-align: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0.3em 0.4em;
  margin: 0.1em;
  background-clip: padding-box;
  background-color: var(--leftside-bg-color, whitesmoke);
  border-radius: var(--tag-border-radius);
  color: var(--tag-color, black);
  border: var(--tag-border) solid transparent;
}
.tag::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: inherit;
  margin: var(--tag-before-margin);
  background: var(--tag-border-color, black);
}
.tag img {
  width: var(--tag-img-size, 3rem);
  height: var(--tag-img-size, 3rem);
}

.more {
  font-size: 1.6em;
}

.gray-stars {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMDAgMTAwIj48dGV4dCBmb250LXNpemU9IjEwMCIgeT0iMC44ZW0iIG9wYWNpdHk9IjAuMyI+4piFPC90ZXh0Pjwvc3ZnPg==);
}

.star {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMDAgMTAwIj48dGV4dCBmb250LXNpemU9IjEwMCIgeT0iMC44ZW0iIGZpbGw9ImdvbGQiPuKYhTwvdGV4dD48L3N2Zz4=);
}

@media screen {
  header {
    color: #07268b;
    display: block;
    text-align: center;
    word-wrap: break-word;
    font-size: 2.5em;
  }

  h3 {
    font-size: 1.4rem;
    margin-bottom: 0.4em;
    word-break: break-all;
  }

  .resume {
    margin: 0.5em 2em;
    padding: 0.5em;
    max-width: 45em;
    display: block;
    text-align: center;
  }

  .grid-area {
    margin-top: 0.6em;
  }
}
@media screen and (max-width: 949px) {
  tbody,
tr {
    margin: 0.4em 0.15em;
    display: flex;
    flex-direction: column;
  }

  li {
    text-align: left;
    list-style-position: inside;
  }

  .education-type {
    width: 100%;
    text-align: center;
  }

  .timeframe {
    display: block;
    text-align: center;
    width: 100%;
  }
}
@media screen and (min-width: 950px) {
  .resume {
    text-align: initial;
    display: grid;
    padding: 0;
    grid-template-columns: 15em 2fr;
    grid-template-areas: "profile info" "skills about" "skills about" "skills education" "skills education" "skills work";
  }

  .more {
    line-height: 1;
    transform: translateY(-0.4em);
  }

  .timeframe {
    width: 20%;
  }

  .tag {
    padding: 0.3em;
    margin: auto;
  }

  .grid-area {
    margin: 0;
  }

  #profile,
#skills {
    background-color: var(--leftside-bg-color);
  }
}
@media print {
  @page {
    padding: 0 !important;
    margin: 0 !important;
    size: A4 portrait;
  }
  body {
    font-weight: 500;
  }

  header {
    display: none;
  }

  .resume {
    max-width: 207mm;
    max-height: 297mm;
    width: 206mm;
    height: 295mm;
    margin: 0.22rem 0;
    font-size: 1.47rem;
    background-color: rgba(255, 255, 255, 0.85);
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 21rem 2fr;
    grid-template-areas: "profile info" "skills about" "skills education" "skills work";
  }

  a:not(#skills a):visited {
    color: blue;
  }

  #profile,
#skills {
    backdrop-filter: blur(1px);
    background-color: var(--leftside-bg-color);
  }

  h3 {
    font-family: var(--font-ethnocentric-rg);
    font-size: 0.85em;
    margin: 0.2em 0;
    width: 100%;
  }

  .fascinated {
    line-height: 1;
  }
  .fascinated::after {
    transform: translateY(0.12em);
  }

  .grid-area {
    padding: 0em 0.35em;
  }

  .grid-area:not(#skills) {
    padding: 0em 0.5em;
  }

  .tag {
    padding: 0.3em;
    margin: auto;
  }

  .more {
    line-height: 0.1;
  }
}

/*# sourceMappingURL=index.css.map */
